In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
people =pd.read_csv('~/ML-Specialization/Machine Learning Foundations: A Case Study Approach/Week 4/Dataset/people_wiki.csv')

In [4]:
people

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...
...,...,...,...
59066,<http://dbpedia.org/resource/Olari_Elts>,Olari Elts,olari elts born april 27 1971 in tallinn eston...
59067,<http://dbpedia.org/resource/Scott_F._Crago>,Scott F. Crago,scott francis crago born july 26 1963 twin bro...
59068,<http://dbpedia.org/resource/David_Cass_(footb...,David Cass (footballer),david william royce cass born 27 march 1962 in...
59069,<http://dbpedia.org/resource/Keith_Elias>,Keith Elias,keith hector elias born february 3 1972 in lac...
59070,<http://dbpedia.org/resource/Fawaz_Damrah>,Fawaz Damrah,fawaz mohammed damrah arabic fawwz damra was t...

In [5]:
obama = people[people['name'] == 'Barack Obama']

In [6]:
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [7]:
obama['text']

35817    barack hussein obama ii brk husen bm born augu...
Name: text, dtype: object

In [8]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

38514    george timothy clooney born may 6 1961 is an a...
Name: text, dtype: object

In [12]:
from collections import Counter

In [13]:
res = obama['text'].str.split().apply(pd.value_counts)

In [14]:
res

,the,in,and,of,to,his,obama,act,he,a,...,represent,three,equality,8,civil,consumer,elementary,columbia,that,libya
35817,40,30,21,18,14,11,9,8,7,7,...,1,1,1,1,1,1,1,1,1,1

In [15]:
res = [Counter(x) for x in obama['text'].str.split()]

In [16]:
res

[Counter({'barack': 1,
          'hussein': 1,
          'obama': 9,
          'ii': 1,
          'brk': 1,
          'husen': 1,
          'bm': 1,
          'born': 2,
          'august': 1,
          '4': 1,
          '1961': 1,
          'is': 2,
          'the': 40,
          '44th': 1,
          'and': 21,
          'current': 1,
          'president': 4,
          'of': 18,
          'united': 3,
          'states': 3,
          'first': 3,
          'african': 1,
          'american': 3,
          'to': 14,
          'hold': 1,
          'office': 2,
          'in': 30,
          'honolulu': 1,
          'hawaii': 1,
          'a': 7,
          'graduate': 1,
          'columbia': 1,
          'university': 2,
          'harvard': 2,
          'law': 6,
          'school': 3,
          'where': 1,
          'he': 7,
          'served': 2,
          'as': 6,
          'review': 1,
          'was': 5,
          'community': 1,
          'organizer': 1,
          'chicago': 2,
          'before': 1,
          'earning': 1,
          'his': 11,
          'degree': 1,
          'worked': 1,
          'civil': 1,
          'rights': 1,
          'attorney': 1,
          'taught': 1,
          'constitutional': 1,
          'at': 2,
          'from': 3,
          '1992': 1,
          '2004': 3,
          'three': 1,
          'terms': 1,
          'representing': 1,
          '13th': 1,
          'district': 1,
          'illinois': 2,
          'senate': 3,
          '1997': 1,
          'running': 1,
          'unsuccessfully': 1,
          'for': 4,
          'house': 2,
          'representatives': 2,
          '2000in': 1,
          'received': 1,
          'national': 2,
          'attention': 1,
          'during': 2,
          'campaign': 3,
          'represent': 1,
          'with': 3,
          'victory': 1,
          'march': 1,
          'democratic': 4,
          'party': 3,
          'primary': 2,
          'keynote': 1,
          'address': 1,
          'convention': 1,
          'july': 1,
          'election': 3,
          'november': 2,
          'began': 1,
          'presidential': 2,
          '2007': 1,
          'after': 4,
          'close': 1,
          'against': 1,
          'hillary': 1,
          'rodham': 1,
          'clinton': 1,
          '2008': 1,
          'won': 1,
          'sufficient': 1,
          'delegates': 1,
          'primaries': 1,
          'receive': 1,
          'nomination': 1,
          'then': 1,
          'defeated': 1,
          'republican': 2,
          'nominee': 2,
          'john': 1,
          'mccain': 1,
          'general': 1,
          'inaugurated': 1,
          'on': 2,
          'january': 3,
          '20': 2,
          '2009': 3,
          'nine': 1,
          'months': 1,
          'named': 1,
          'nobel': 1,
          'peace': 1,
          'prize': 1,
          'laureateduring': 1,
          'two': 1,
          'years': 1,
          'signed': 3,
          'into': 1,
          'economic': 1,
          'stimulus': 1,
          'legislation': 1,
          'response': 3,
          'great': 1,
          'recession': 1,
          'form': 1,
          'recovery': 1,
          'reinvestment': 1,
          'act': 8,
          'tax': 1,
          'relief': 2,
          'unemployment': 1,
          'insurance': 1,
          'reauthorization': 1,
          'job': 1,
          'creation': 1,
          '2010': 2,
          'other': 1,
          'major': 1,
          'domestic': 2,
          'initiatives': 1,
          'term': 3,
          'included': 1,
          'patient': 1,
          'protection': 2,
          'affordable': 1,
          'care': 1,
          'often': 1,
          'referred': 1,
          'obamacare': 1,
          'doddfrank': 1,
          'wall': 1,
          'street': 1,
          'reform': 1,
          'consumer': 1,
          'dont': 2,
          'ask': 1,
          'tell': 1,
          'repeal': 1,
          'foreign': 2,
          'policy': 2,
          'ended': 1,
          'us': 6,
          'military': 4,
          'involvement': 3,
          'iraq': 4,
          'war': 1,
          'increased': 1,
          'troop': 1,
          'levels': 1,
          'afghanistan': 2,
          'new': 1,
          'start': 1,
          'arms': 1,
          'control': 4,
          'treaty': 1,
          'russia': 1,
          'ordered': 3,
          'libya': 1,
          'operation': 1,
          'that': 1,
          'resulted': 1,
          'death': 1,
          'osama': 1,
          'bin': 1,
          'laden': 1,
          '2011': 3,
          'republicans': 1,
          'regained': 1,
          'lost': 1,
          'total': 1,
          '63': 1,
          'seats': 1,
          'lengthy': 1,
          'debate': 1,
          'over': 1,
          'federal': 1,
          'spending': 1,
          'whether': 1,
          'or': 1,
          'not': 1,
          'raise': 1,
          'nations': 1,
          'debt': 1,
          'limit': 1,
          'budget': 1,
          'taxpayer': 1,
          '2012obama': 1,
          'reelected': 1,
          '2012': 1,
          'defeating': 1,
          'mitt': 1,
          'romney': 1,
          'sworn': 1,
          'second': 2,
          '2013': 1,
          'has': 4,
          'promoted': 1,
          'policies': 1,
          'related': 1,
          'gun': 1,
          'sandy': 1,
          'hook': 1,
          'elementary': 1,
          'shooting': 1,
          'called': 1,
          'full': 1,
          'equality': 1,
          'lgbt': 1,
          'americans': 1,
          'while': 1,
          'administration': 1,
          'filed': 1,
          'briefs': 1,
          'which': 1,
          'urged': 1,
          'supreme': 1,
          'court': 1,
          'strike': 1,
          'down': 1,
          'defense': 1,
          'marriage': 1,
          '1996': 1,
          'californias': 1,
          'proposition': 1,
          '8': 1,
          'unconstitutional': 1,
          'gains': 1,
          'made': 1,
          'by': 1,
          'islamic': 1,
          'state': 1,
          'withdrawal': 1,
          'continued': 1,
          'process': 1,
          'ending': 1,
          'combat': 1,
          'operations': 1,
          'sought': 1,
          'normalize': 1,
          'relations': 1,
          'cuba': 1})]

In [18]:
obama['word_count']= [Counter(x) for x in obama['text'].str.split()]

/home/dipesh/anaconda3/envs/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
obama

,URI,name,text,word_count
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...,"{'barack': 1, 'hussein': 1, 'obama': 9, 'ii': ..."